
<div>

    <header>

        <img src="../../../assets/images/FinalLogo.jpg" alt="Logo" class="logo">

        <h1 class="header-title" style="color: white;">SPEED-X</h1>

    
        <div class="header-buttons">

            <div class="button-container">

                <a class="nav-link" routerLink="/UserHomepage">

                    <img src="https://th.bing.com/th/id/OIP.iFgon2zov9Lm7FvngEuebgHaHW?pid=ImgDet&w=649&h=644&rs=1" alt="Login" class="login-button-img">

                    <br><p>Home</p>

                </a>

               

            </div>

            <div class="button-container">

                <a class="nav-link" routerLink="/Plans">

                    <img src="../../../assets/images/mobile (1).png" alt="Register" class="login-button-img">

                    <br><p>Recharge Plans</p>

                </a>

               

            </div>

            <div class="button-container">

                <a class="nav-link" routerLink="/MyProfile">

                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx4gk6S5A7cNZTKE77ta4rh2pRHCOP8P4kzA&usqp=CAU" alt="MyProfile" class="login-button-img">

                    <br><p>My Profile</p>

                </a>

               

            </div>

            <div class="button-container">

                <a class="nav-link" routerLink="" >

                    <img src="https://static.vecteezy.com/system/resources/previews/000/575/349/original/vector-logout-sign-icon.jpg" alt="Logout" class="login-button-img">

                    <br><p (click)="logout">Logout</p>

                </a>

               

            </div>

        </div>

    </header>

</div>
