header {

    background-color: rgb(20, 17, 17); /* Red header background */

    color: rgb(19, 15, 15);

    /* padding: 1px; */

    text-align: center;
    height: 60px;
    display: flex;

    justify-content: space-between;

    align-items: center;


   

   

}

.header-buttons {

    display: flex;

    align-items: center;

    margin-left: auto; /* Push buttons to the right */

}

 

 

/* Style for logo image */

.logo {

    width: 50px; /* Adjust the width as needed */

    height: 50px; /* Adjust the height as needed */

}

 

.header-title {

    font-size: 35px; /* Adjust the font size as needed */

    margin-top: 5px;

    margin-bottom:5px ;

}

 

.login-button-img {

    width: 30px; /* Adjust the width as needed */

    height: 30px; /* Adjust the height as needed */

    margin-right: 5px; /* Add margin between the image and text */

    margin-top: 5px;

    margin-bottom: 5px;

    cursor: pointer; /* Add cursor pointer to indicate interactivity */

   

   

}

 

.button-container {

    text-align: center;

    margin-left: 10px;

}

 

.button-container a {

    display: inline-block;

    margin-right: 5px;

   

}

 

.button-container p {

    margin: 0;

    text-align: center;

}

 

h1, .login-button-img, .button-container p {

    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    color:white (5, 5, 5); */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-style: italic;
    color:white (5, 5, 5);
    

}


/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
/* rgb(242, 237, 237) */