
<div>

    <header>

        <img src="../../../assets/images/FinalLogo.jpg" alt="Logo" class="logo">

        <h1 class="header-title" style="color:white;">SPEED-X</h1>

       

        <div class="header-buttons">

            <div class="button-container">

                <a class="nav-link" routerLink="/Login">

                    <img src="../../../assets/images/login.jpg" alt="Login" class="login-button-img">

                    <br><p>Login</p>

                </a>

               

            </div>

            <div class="button-container">

                <a class="nav-link" routerLink="/Register">

                    <img src="../../../assets/images/registerlogo.jpg" alt="Register" class="login-button-img">

                    <br><p>Register</p>

                </a>

               

            </div>

            <div class="button-container">

                <a class="nav-link" routerLink="/NewSim">

                    <img src="../../../assets/images/Simlogo.webp" alt="New SIM Card" class="login-button-img">

                    <br><p>New sim</p>

                </a>

               

            </div>

        </div>

    </header>

</div>
